name: CI/CD GitOps UAS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:

  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/q-frontend:${{ github.sha }} ./frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/q-frontend:${{ github.sha }}

    - name: Update Kubernetes Manifest
      run: |
        sed -i "s|image: ${{ secrets.DOCKER_USERNAME }}/q-frontend:.*|image: ${{ secrets.DOCKER_USERNAME }}/q-frontend:${{ github.sha }}|g" k8s/deployment.yaml

    - name: Commit and Push YAML changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add k8s/deployment.yaml
        git commit -m "chore: update image tag to ${{ github.sha }} [skip ci]" || echo "No changes to commit"
        git push origin main